@import 'services';

//vars
$init: 16%;
$mob: 6%;
$pink: #e50872;
$gray: #808080;
$dark: #1a1a1a;
$grad: linear-gradient(#28024d , #e50872);

.topImg{
    height: auto;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-right: $init;
    .topWrap{
        flex-basis: unset;
    }
    .cd-product-viewer-wrapper{
        flex-basis: 50%;
        margin-left: 0;
        .fullscreen{
            background: $pink;
            color: white;
        }
    }
    //popup 4k zoom
    .popupMain{
        .exit{
            i{
            color: $pink;
            }
        }
        .zoom{
            background: $pink;
            color: white;
            border-radius: 50px;
            padding-left: 25px;
            padding-right: 25px;
            &:hover{
                background: #f83995;
                box-shadow: -5px 0px 17px rgba(0, 0, 0, 0.25);
                cursor: pointer;
              }
              &:active{
                background: #b40659;
                color: lightgray;
                box-shadow: -3px -1px 10px rgba(0, 0, 0, 0.25);
              }
        }
        .unzoom{
            background: $pink;
            color: white;
            border-radius: 50px;
            padding-left: 25px;
            padding-right: 25px;
            &:hover{
                background: #f83995;
                box-shadow: -5px 0px 17px rgba(0, 0, 0, 0.25);
                cursor: pointer;
              }
              &:active{
                background: #b40659;
                color: lightgray;
                box-shadow: -3px -1px 10px rgba(0, 0, 0, 0.25);
              }
        }
        .zoomInfo{
            color: $pink;
        }
    }
}
@media screen and (max-width: 1600px){
    .topImg{
        padding-right: $mob;
    }
}
@media screen and (max-width: 1200px){
    .topImg{
        flex-direction: column;
        padding-top: 130px;
        .topWrap{
            padding-right:0;
        }
        .cd-product-viewer-wrapper{
            margin: 0 auto;
            padding-top: 0;
        }
    }
}
@media screen and (max-width: 1100px){
    .topImg > .topWrap > .topHead{
        font-size: 2.8em;
    }
}
@media screen and (max-width: 930px){
    .topImg{
        padding-top: 150px;
    }
}
@media screen and (max-width: 700px){
    img{
        max-width: 100%;
    }
}
@media screen and (max-width: 520px){
    .topImg > .topWrap > .topHead{
        font-size: 2em;
    }
}
@media screen and (max-width: 375px){
    .topImg > .topWrap {
        .topHead{
            font-size: 1.6em;
        }
        .topSubhead{
            display: block;
        }
    }
}
@media screen and (max-width: 360px){
    .topImg{
        padding-top: 170px;
    }
}