* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
  scroll-behavior: smooth;
}

//vars
$init: 16%;
$mob: 6%;
$pink: #e50872;
$gray: #808080;
$dark: #1a1a1a;
$grad: linear-gradient(#28024d , #e50872);

h1, h2{
  font-family: 'Roboto', sans-serif;
}

a, button, input{
  user-select: none;
  &:focus{
    outline: none;
    outline-color: transparent;
    outline-style: none;
    outline-width: 0;
  }
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

//nav functionality
.hidden {
  display: none;
}

#nav:checked {
  + .nav-btn {
    transform: rotate(45deg);
    i {
      background: #000;
      transition: transform 0.2s ease;
      &:nth-child(1) {
        transform: translateY(6px) rotate(180deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translateY(-6px) rotate(90deg);
      }
    }
  }
  ~ .nav-wrapper {
    z-index: 990;
    display: block;
    ul li a {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
//contact highlight
.contContain{
  margin-left: 38px !important;
  .highLight{
    background: $pink;
    padding: 6px 20px;
    margin-top: -10px;
    color: white;
    transition-duration: .2s;
    border-radius: 50px;
    &:hover{
      padding: 6px 30px;
    }
  }
}

.container{
  position: fixed;
  background: white;
  height: 60px;
  width: 100%;
  box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: .13);
  z-index: 9999999;
}
//dropdown settings
    //down arrow settings
.fa-sort-down{
  transform: translateY(-2px);
  transition-duration: .2s;
}
//rotate arrow
.rotate{
  transform: rotate(180deg) translateY(-2px);
}
//net / turning off the dropdown by clicking anywhere in the window w/o even listener
.net{
  display: none;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1999;
  position: fixed;
}
nav {
    padding-top: 11px;
    ul > li >.dropdown{
      position: absolute;
      background: white;
      display: flex;
      flex-direction: column;
      text-align: left;
      justify-content: center;
      align-self: center;
      margin: 0;
      padding: 0;
      margin-top: 18px;
      margin-left: -20px;
      display: none;
      z-index: 2000;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.13);
      a{
        transition-duration: .3s;
        &:hover{
          color: unset;
          background: lightgray;
          cursor: pointer;
        }
      }
      li{
        margin: 0;
        padding: 15px 20px;
      }
    }
}

.logo {
  float: left;
  padding-top: 2px;
  margin-left: 16px;
  margin-top: 0px;
  a {
    color: #000;
    font-size: 18px;
    letter-spacing: 0px;
    text-decoration: none;
    .logoAR{
        background: url('ar_visual_logo.svg') no-repeat center;
        background-size: cover;
        width: 135px;
        height: 35px;
    }
  }
}

nav ul {
  float: right;
  margin-top: 10px;
  li {
    display: inline-block;
    float: left;
    &:not(:first-child) {
      margin-left: 48px;
    }
    &:last-child {
      margin-right: 24px;
    }
    a {
      display: inline-block;
      outline: none;
      color: #000;
      text-decoration: none;
      font-size: 14px;
      transition-duration: .2s;
      &:hover{
        color: $gray;
        }
    }
  }
}

//main image
.topImg{
    background: url('imgs/mainBg.jpg')no-repeat center;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    .topWrap{
        align-self: center;
        margin-left: $init;
        margin-top: 0px;
        .topHead{
            font-family: 'Roboto', sans-serif;
            color: white;
            font-size: 2.8em;
            line-height: 1.4em;
            margin: 0;
        }
        .topSubhead{
            color: white;
            line-height: 2em;
            font-size: 1.15em;
            margin-top: 15px;
        }
    }
}
//the process
.process{
  border-radius: 20px;
  margin-top: -55px;
  background: white;
  width: 100%;
  padding-left: $init;
  padding-right: $init;
  box-shadow: -5px -6px 17px rgba(0,0,0,.14);
  padding-bottom: 30px;
  position: relative;
  .processFlex{
    display: flex;
    flex-direction: row;
    .processUnit{
      flex-basis: 33.33%;
      padding: 1% 3%;
      min-height: 220px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: -60px;
      background: white;
      border-radius: 15px;
      box-shadow: -5px -3px 28px rgba(0,0,0,.15);
      margin-bottom: 50px;
      .processIcon01{
        background: url('imgs/process01.svg')no-repeat center;
        background-size: cover;
        width: 150px;
        height: 110px;
        margin: 0 auto;
      }
      .processIcon02{
        background: url('imgs/process02.svg')no-repeat center;
        background-size: cover;
        width: 150px;
        height: 110px;
        margin: 0 auto;
      }
      .processIcon03{
        background: url('imgs/process03.svg')no-repeat center;
        background-size: cover;
        width: 150px;
        height: 110px;
        margin: 0 auto;
      }
      h1{
        font-size: 2em;
        margin: 20px 0px 8px 0px;
        text-align: center;
        color: $dark;
      }
      .text{
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1.8em;
        color:$gray;
      }
      &:nth-of-type(2){
        margin-left: 20px;
        margin-right: 20px;
      }
      .circles{
        text-align: center;
        margin-top: 15px;
        margin-bottom: 17px;
        .fa-circle{
          font-size: .5em;
          color: $gray;
          &:nth-of-type(2){
            margin: 0 10px;
          }
        }
      }
      .ctaBtn{
        padding-bottom: 40px;
        padding-top: 40px;
        margin: 0 auto;
        transition-duration: .25s;
        &:hover{
          transform: translateY(-2px);
        }
        .btn{
          background: $pink;
          color: white;
          text-decoration: none;
          padding: 10px 30px 9px 30px;
          border-radius: 50px;
          transition-duration: .25s;
          box-shadow: -3px -1px 10px rgba(0, 0, 0, 0.25);
          &:hover{
            background: #f83995;
            box-shadow: -5px 0px 17px rgba(0, 0, 0, 0.25);
            cursor: pointer;
          }
          &:active{
            background: #b40659;
            color: lightgray;
            box-shadow: -3px -1px 10px rgba(0, 0, 0, 0.25);
          }
        }
      }
    }
  }
}
//client logos
.cliLogos{
  background: url('imgs/clients.jpg')no-repeat center;
  background-size: contain;
  max-width: 68%;
  height: 200px;
  margin: 0 auto;
}
//testimonial quote icon
.quote{
  background: url('imgs/testIcon.svg')no-repeat center;
  background-size: cover;
  width: 70px;
  height: 50px;
  position: absolute;
  left: 34%;
  z-index: 999;
  margin-top: 35px;
}
//next back buttons
.right-arrow{
  position: absolute;
  right: 30%;
  margin-top: 165px;
  color: $gray;
  font-size: 1.5em;
  z-index: 55;
  transition-duration: .25s;
  &:hover{
    color: #acacac;
    cursor: pointer;
  }
  &:active{
    color: $dark;
  }
}
.left-arrow{
  position: absolute;
  left: 30%;
  margin-top: 165px;
  color: $gray;
  font-size: 1.5em;
  z-index: 55;
  transition-duration: .25s;
  &:hover{
    color: #acacac;
    cursor: pointer;
  }
  &:active{
    color: $dark;
  }
}
//testimonials
.owl-carousel{
  .testimonial{
    width: 650px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    background: white;
    padding: 25px 35px;
    border-radius: 15px;
    box-shadow: -5px -2px 17px rgba(0, 0, 0, 0.17);
    margin-top: 70px;
    margin-bottom: 20px;
    .imgPart{
      flex-basis: 35%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-right: 20px;
      .tImg1{
        background: url('https://media.licdn.com/dms/image/C5603AQF-aCKev6VYQg/profile-displayphoto-shrink_800_800/0?e=1563408000&v=beta&t=_rKwVhFjHGz-yTx-LNtkFkb-IMHhnOCdBnZtugfH0N4') no-repeat center;
        background-size: cover;
        width: 90px;
        height: 90px;
        align-self: center;
        border-radius: 60px;
      }
      .tImg2{
        background: url('imgs/testimonials/greenmood.jpg') no-repeat center;
        background-size: cover;
        width: 90px;
        height: 90px;
        align-self: center;
        border-radius: 60px;
      }
      .tImg3{
        background: url('https://media.licdn.com/dms/image/C5603AQECG8_NMyTRbA/profile-displayphoto-shrink_800_800/0?e=1563408000&v=beta&t=_Sl9FtD5WZHsDzws7H1D3xWFYlBhMqkK63gi7AdKTAM') no-repeat center;
        background-size: cover;
        width: 90px;
        height: 90px;
        align-self: center;
        border-radius: 60px;
      }
      h2{
        font-size: 1.1em;
        color: $dark;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 5px;
      }
      p{
        font-size: .9em;
        margin: 0;
        a{
          color: $pink;
          text-decoration: none;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
    .txtPart{
      flex-basis: 65%;
      color: $gray;
      line-height: 1.8em;
      align-self: center;
    }
  }
  //case studies carousel
  .cases{
    width: 900px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    background: white;
    border-radius: 15px;
    box-shadow: -5px -2px 17px rgba(0, 0, 0, 0.17);
    margin-top: 70px;
    margin-bottom: 10px;
    .csImg1{
      background: url('https://www.tuli.sk/sub/tuli.sk/images/images/blog/detka-utulnicka/tuli_jesen_zima_56.jpg')no-repeat center;
      background-size: cover;
      flex-basis: 50%;
      border-bottom-left-radius: 15px;
      border-top-left-radius: 15px;
    }
    .csImg2{
      background: url('imgs/glamm_fire_cs.jpg')no-repeat center;
      background-size: cover;
      flex-basis: 50%;
      border-bottom-left-radius: 15px;
      border-top-left-radius: 15px;
    }
    .csImg3{
      background: url('imgs/wooden_germany_cs.jpg')no-repeat center;
      background-size: cover;
      flex-basis: 50%;
      border-bottom-left-radius: 15px;
      border-top-left-radius: 15px;
    }
    .txtPart{
      flex-basis: 50%;
      padding: 25px 35px;
      color: $gray;
      line-height: 1.8em;
      align-self: center;
      h1{
        text-align: center;
        color: $dark;
      }
      .ctaBtn{
        padding-bottom: 20px;
        padding-top: 20px;
        margin: 0 auto;
        text-align: center;
        transition-duration: .25s;
        &:hover{
          transform: translateY(-2px);
        }
        .btn{
          background: $pink;
          color: white;
          text-decoration: none;
          padding: 10px 30px 9px 30px;
          border-radius: 50px;
          transition-duration: .25s;
          box-shadow: -3px -1px 10px rgba(0, 0, 0, 0.25);
          &:hover{
            background: #f83995;
            box-shadow: -5px 0px 17px rgba(0, 0, 0, 0.25);
            cursor: pointer;
          }
          &:active{
            background: #b40659;
            color: lightgray;
            box-shadow: -3px -1px 10px rgba(0, 0, 0, 0.25);
          }
        }
      }
    }
  }
}
//pagination / dots / color change to pink
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
  background: $pink !important;
}
//see more button #global
.ctaBtn{
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
  transition-duration: .25s;
  margin-top: 20px;
  &:hover{
    transform: translateY(-2px);
  }
  .btn{
    background: $pink;
    color: white;
    text-decoration: none;
    padding: 10px 30px 9px 30px;
    border-radius: 50px;
    transition-duration: .25s;
    box-shadow: -3px -1px 10px rgba(0, 0, 0, 0.25);
    &:hover{
      background: #f83995;
      box-shadow: -5px 0px 17px rgba(0, 0, 0, 0.25);
      cursor: pointer;
    }
    &:active{
      background: #b40659;
      color: lightgray;
      box-shadow: -3px -1px 10px rgba(0, 0, 0, 0.25);
    }
  }
}
//newsletter
.newsletter{
  background: $grad;
  width: 100%;
  height: 430px;
  margin-top: -30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1{
    margin-bottom: 0;
    color: white;
    padding-top: 10px;
  }
  p{
    color: white;
    line-height: 1.6em;
  }
  .privacy{
    font-size: .85em;
    a{
      color: white;
    }
  }
  form{
    margin: 15px 0px;
    #email{
      margin-right: 20px;
      border: none;
      background: white;
      padding: 8px 22px 7px 22px;
      text-align: center;
      border-radius: 50px;
      box-shadow: -3px -1px 10px rgba(0, 0, 0, 0.25);
      &:focus{
        outline: none;
        outline-color: transparent;
        outline-style: none;
        outline-width: 0;
      }
    }
    #submit{
      background: $pink;
      color: white;
      text-decoration: none;
      padding: 8px 30px 7px 30px;
      border-radius: 50px;
      transition-duration: .25s;
      box-shadow: -3px -1px 10px rgba(0, 0, 0, 0.25);
      border: none;
      &:hover{
        background: #f83995;
        box-shadow: -5px 0px 17px rgba(0, 0, 0, 0.25);
        cursor: pointer;
      }
      &:active{
        background: #b40659;
        color: lightgray;
        box-shadow: -3px -1px 10px rgba(0, 0, 0, 0.25);
      }
      &:focus{
        outline: none;
        outline-color: transparent;
        outline-style: none;
        outline-width: 0;
      }
    }
  }
  //social
  .socialBar{
    margin: 0 auto;
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    a{
      color: white;
      margin-left: 20px;
      margin-right: 20px;
      font-size: 1.6em;
      transition-duration: .25s;
      &:hover{
        transform: translateY(-4px);
      }
    }
  }
}
//blog
.blog{
  padding-left: 16%;
  padding-right: 16%;
  padding-bottom: 30px;
  z-index: 22;
  position: relative;
  width: 100%;
  margin-top: -30px;
  background: white;
  border-radius: 20px;
  box-shadow: -5px -6px 17px rgba(0,0,0,.14);
  .blogHeader{
    text-align: center;
    font-size: 2em;
    margin-top: 0;
    padding-top: 40px;
    margin-bottom: 35px;
  }
  .blogFlex{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    .blogUnit{
      flex-basis: 50%;
      border-radius: 15px;
      background: white;
      box-shadow: -5px -6px 17px rgba(0,0,0,.14);
      margin-bottom: 20px;
      &:nth-of-type(1){
        margin-right: 20px;
      }
      &:nth-of-type(2){
        margin-left: 20px;
      }
      .blogImg01{
        background: url('https://live.staticflickr.com/3727/9202894688_c758a372ae_k.jpg') no-repeat center;
        background-size: cover;
        width: 100%;
        height: 280px;
        transition-duration: .2s;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        &:hover{
          opacity: .8;
        }
      }
      .blogImg02{
        background: url('https://cdn-images-1.medium.com/max/800/1*2YyZIdchL-xCb9s0tsIeoQ.jpeg') no-repeat center;
        background-size: cover;
        width: 100%;
        height: 280px;
        transition-duration: .2s;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        &:hover{
          opacity: .8;
        }
      }
      .blogImg03{
        background: url('https://cdn-images-1.medium.com/max/800/1*Cb_CIL3YEA-Mg0SMSrcduw.jpeg') no-repeat center;
        background-size: cover;
        width: 100%;
        height: 280px;
        transition-duration: .2s;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        &:hover{
          opacity: .8;
        }
      }
      .blogImg04{
        background: url('https://cdn-images-1.medium.com/max/800/1*05lLCSVVfbgkVLCDl6dVog.jpeg') no-repeat center;
        background-size: cover;
        width: 100%;
        height: 280px;
        transition-duration: .2s;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        &:hover{
          opacity: .8;
        }
      }
      .header{
        margin-bottom: 0px;
        padding-left: 4%;
        padding-right: 4%;
        line-height: 1.45em;
      }
      .text{
        line-height: 1.6em;
        color: $gray;
        padding: 10px 4%;
        margin-top: 0;
        .readMore{
          color: $pink;
          transition-duration: .2s;
          &:hover{
            color: gray;
          }
        }
      }
    }
  }
}
//offices
.offices{
  width: 100%;
  background: url('imgs/mainBg.jpg') no-repeat center;
  background-size: cover;
  padding-top: 50px;
  text-align: center;
  margin-top: 50px;
  .header{
    font-size: 2em;
  }
  .flexOffices{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 60px;
    .officeUnit{
      display: flex;
      flex-direction: row;
      &:nth-of-type(2){
        margin-left: 80px;
        margin-right: 80px;
      }
      .officeImg01{
        background: url('imgs/offices/01.svg')no-repeat center;
        background-size: cover;
        width: 75px;
        height: 75px;
      }
      .officeImg02{
        background: url('imgs/offices/02.svg')no-repeat center;
        background-size: cover;
        width: 75px;
        height: 75px;
        margin-right: 8px;
      }
      .officeImg03{
        background: url('imgs/offices/03.svg')no-repeat center;
        background-size: cover;
        width: 75px;
        height: 75px;
      }
      .text{
        color: white;
        line-height: 1.6em;
        text-align: left;
      }
    }
  }
}
//footer
footer{
  background: black;
  width: 100%;
  .flexFoot{
    display: flex;
    flex-direction: row;
    padding-left: $init;
    padding-right: $init;
    .footUnit{
      flex-basis: 50%;
      .header{
        font-family: 'Roboto', sans-serif;
        font-size: 1.07em;
        padding-top: 20px;
        margin-bottom: 0;
      }
      ul{
        padding: 0;
        line-height: 1.9em;
        list-style: none;
        margin-top: 10px;
        a{
          color: white;
          text-decoration: none;
          transition-duration: .2s;
          &:hover{
            opacity: .7;
          }
        }
      }
    }
    .right{
      text-align: right;
      ul > li{
        color: white;
      }
    }
  }
}
.copyright{
  color: $pink;
  text-align: center;
  font-size: .9em;
  padding-bottom: 1px;
}
//demo
.calendar{
  margin-top: 40px;
  form{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 50px;
    input{
      height: 30px;
    }
    input, textarea{
      margin-top: 20px;
      padding-left: 10px;
      border: none;
      border-radius: 6px;
    }
    textarea{
      padding-top: 8px;
      resize: none;
    }
    div{
      margin-top: 30px;
      margin-bottom: 10px;
      #gdpr{
        margin: 0;
        height: initial;
        margin-right: 10px;
      }
      .gdpr{
        color: white;
        a{
          color: $pink;
          text-decoration: none;
          transition-duration: 0.2s;
          &:hover{
            opacity: .8;
          }
        }
      }
    }
    #submit{
      background: $pink;
      color: white;
      width: 120px;
      border: none;
      border-radius: 50px;
      margin: 0 auto;
      margin-top: 15px;
      transition-duration: .2s;
      font-size: 1em;
      height: 35px;
      &:hover{
        width: 136px;
        cursor: pointer;
      }
    }
  }
}
//success alert
.successAlert{
  display: none;
  padding-bottom: 40px;
  .header{
    padding-top: 20px;
  }
  .okBtn{
    background: $pink;
    width: 120px;
    margin: 0 auto;
    font-size: 1;
    color: white;
    padding: 10px 30px 9px 30px;
    transition-duration: .2s;
    border-radius: 50px;
    margin-top: 30px;
    &:hover{
      width: 136px;
      cursor: pointer;
    }
  }
}
//popup settings
.popMain{
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba($color: #000000, $alpha: .8);
  display: none;
  .popImg{
    position: absolute;
    top: calc(50% + 30px);
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .pop01{
    background: url('imgs/chairs.jpg') no-repeat center;
    background-size: contain;
    width: 70%;
    height: 458px;
  }
  .pop02{
    background: url('imgs/sofa.jpg') no-repeat center;
    background-size: contain;
    width: 70%;
    height: 458px;
  }
  .pop03{
    background: url('imgs/table.jpg') no-repeat center;
    background-size: contain;
    width: 70%;
    height: 458px;
  }
  .pop04{
    background: url('imgs/chairsofa.jpg') no-repeat center;
    background-size: contain;
    width: 70%;
    height: 458px;
  }
}

////////////////////////////MEDIAQUERIES////////////////////////////
////////////////////////////MEDIAQUERIES////////////////////////////
////////////////////////////MEDIAQUERIES////////////////////////////
@media screen and (max-width: 1600px) {
  //process adjustments
  .process > .processFlex > .processUnit > h1{
    font-size: 1.5em;
  }
}
@media screen and (max-width: 1280px) {
  //process adjustments
  .process{
    margin-left: $mob;
    margin-right: $mob;
  }
}
@media screen and (max-width: 1100px) {
  //blog settings
  .blog > .blogFlex > .blogUnit{
    .blogImg01, .blogImg02{
      height: 200px;
    }
  }

  //footer settings
  footer > .flexFoot{
    padding-left: $mob;
    padding-right: $mob;
  }  
}
@media screen and (max-width: 980px) {
  //process flex direction column
  .process > .processFlex{
    flex-direction: column;
    .processUnit{
      max-width: 500px;
      margin: 0 auto;
      min-height: auto;
      padding: 10px 5%;
      h1{
        font-size: 2em;
        margin-top: 10px;
      }
      &:nth-of-type(2){
      margin: 20px auto !important;
      }
    }
  }
  .pink{
    color: $pink !important;
  }
}
@media screen and (max-width: 930px) {
  //rotate arrow
  .rotate{
    transform: rotate(180deg) translateY(-2px) translateX(1px);
  }
  //dropdown
  nav ul > li > .dropdown{
    margin-top: 43px;
    box-shadow: none;
    a{
      &:hover{
        background: initial;
      }
      li{
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
  //nav
  .nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #fff;
    transition: all 0.2s ease;
    display: none;
    ul {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      li {
        display: block;
        float: none;
        width: 100%;
        text-align: right;
        margin-bottom: 10px;
        
        &:nth-child(1) a {
          transition-delay: 0.2s;
        }
        &:nth-child(2) a {
          transition-delay: 0s;
        }
        &:nth-child(3) a {
          transition-delay: 0.4s;
        }
        &:nth-child(4) a {
          transition-delay: 0.5s;
        }
        &:not(:first-child) {
          margin-left: 0;
        }
        a {
          padding: 10px 24px;
          opacity: 0;
          color: #000;
          font-size: 14px;
          letter-spacing: 1.2px;
          transform: translateX(-20px);
          transition: all 0.2s ease;
        }
      }
    }
  }
  .nav-btn {
    position: fixed;
    right: 10px;
    top: 8px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
    i {
      display: block;
      width: 20px;
      height: 2px;
      background: #000;
      border-radius: 2px;
      margin-left: 14px;
      &:nth-child(1) {
        margin-top: 16px;
      }
      &:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
      }
      &:nth-child(3) {
        margin-top: 4px;
      }
    }
  }
  .logo{
    margin-left: $mob;
  }
  //top content
  .topImg{
    height: 500px;
    .topWrap{
      margin-left: $mob !important;
    }
  }
  .wrapDemo{
    background-position: bottom;
  }
  //reference arvisual
  .arvisual, .blog{
    margin-left: $mob;
    margin-right: $mob;
  }
}
@media screen and (max-width: 800px) {
  .blog{
    .blogFlex{
      flex-direction: column;
      .blogUnit{
        margin: 0 !important;
        &:nth-of-type(1){
          margin-bottom: 30px !important;
        }
        .blogImg01, .blogImg02{
          height: 300px;
        }
      }
    }
  }
  .offices{
    .flexOffices{
      .officeUnit{
        &:nth-of-type(2){
          margin-left: 5%;
          margin-right: 4%;
        }
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .offices > .flexOffices{
    flex-direction: column;
    .officeUnit{
      margin: 0 auto !important;
      &:nth-of-type(2){
        margin-top: 40px !important;
        margin-bottom: 40px !important;
      }
    }
  }
}

@media screen and (max-width: 535px) {
  .topImg{
    height: 350px;
    background-position: left;
    .topWrap{
      margin-top: 75px;
      .topHead{
        font-size: 2.5em;
      }
      .topSubhead{
        font-size: 1em;
        margin-right: $mob;
        line-height: 1.6em;
        br{
          display: none;
        }
      }
    }
  }
  //process edit
  .process {
    margin-left: 0;
    margin-right: 0;
    .processFlex >.processUnit{
    max-width: unset;
    padding: 5% $mob;
    }
  }
  .wrapDemo{
    .header{
      padding-top: 30px;
    }
    .text{
      text-align: left;
    }
    .button{
      padding-bottom: 45px;
    }
  }
  .arvisual{
    .topAr{
      margin-top: 30px;
      text-align: left;
    }
    .text{
      text-align: left;
    }
  }
  .blog{
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    margin-top: 50px;
    .blogFlex{
      .blogUnit{
        .blogImg01, .blogImg02{
          height: 200px;
        }
        .header, .text{
          padding-left: $mob;
          padding-right: $mob;
        }
      }
    }
  }
  .offices{
    margin-top: 30px;
    background-position: bottom;
    padding-top: 10px;
    .flexOffices{
      padding-bottom: 35px;
    }
  }
  footer{
    .flexFoot{
      .footUnit{
        &:nth-of-type(1){
          flex-basis: 40%;
        }
        &:nth-of-type(2){
          flex-basis: 60%;
        }
      }
    }
  }
}
@media screen and (max-width: 470px) {
  //wrapDemo settings
  .wrapDemo{
    .header{
      margin-bottom: 10px;
    }
    .text{
      margin-top: 0;
    }
  }
  //fix on last process unit
  .process > .processFlex {
    .processUnit{
      &:last-of-type{
        .text{
          margin-bottom: 0;
        }
      }
    }
  }
  //footer changes
  footer{
    .flexFoot{
      flex-direction: column;
      .footUnit{
        flex-basis: 50%;
        &:nth-of-type(2){
          text-align: left;
          .header{
            padding-top: 0px;
          }
        }
      }
    }
  }
  .calendar {
    margin-top: 20px;
    form{
      max-width: unset;
      padding-left: $mob;
      padding-right: $mob;
      div{
        #gdpr{
          float: left;
          margin-top: 3px;
          margin-right: 5px;
          }
          .gdpr{
            letter-spacing: -0.2px;
          }
        }
      } 
    }
}
@media screen and (max-width: 360px) {
  //process
  .process > .processFlex > .processUnit{
    h1{
      font-size: 1.8em;
    }
  }
  .arvisual{
    .topAr{
      font-size: 1.8em;
      text-align: left;
      margin-bottom: 15px;
    }
  }
  .wrapDemo{
    .header{
      margin-left: $mob;
      text-align: left;
      margin-bottom: 0;
    }
  }
}